/*SHARED AND GLOBAL STYLE*/
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1,h2,p{
    margin: 10px 0;
}
#about, #portfolio, #contact{
    padding: 0 100px;
    margin: 50px 0;
}
/*HEADER AND NAVIGATION SECTIONS*/
header#mainheader {
    font-size: 16px;
    background-color:#222;
    color:white;
    padding: 20px 100px;
    margin: 0 0;


}
header > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
header > h2{
    font-size: 2em;
    display: inline;
    position: relative;
    bottom: 34px;
    margin-left: 12px;
}
nav{
    background-color: #222;
    border-top: 1px solid #333;
    text-align: right;
    padding-right: 80px;
    
}
nav li {
    display:inline-block;
    padding:  20px;
}
nav li a{
    color: white;
    text-decoration: none;

}
nav li a:hover{
    text-decoration: underline;
}


/* second method using class to change the profile photo into circular shape>>>
img.circular-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;

}*/
/*HERO SECTION*/
#hero{
    color:white;
    background-image: url(Photos/Sky1.jpg);
    align-items: center;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
   justify-content: center;   
}

.card-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 20px;
   
}
.card-title{
    font-weight: bold;
    font-size: 1.2em;
}

.card img{
    width:100%
}

.card a{
    display: inline-block;
    text-decoration: none;
    color: #222;
    background-color: white;
    border: 1px solid #222;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;

}
.card a:hover{
    background-color: #222;
    color: white;
}

/*CONTACT SECTION*/
    input:not([type='submit']), textarea {
    width: 400px;
    padding:12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
}
 input[type='submit'] {
    background-color: #6c6c6c;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;

 }
 input[type='submit']:hover{
    cursor: pointer;
    background-color: #5b5b5b;
 }
 /*FOOTER SECTION*/
 #footer nav{
    text-align: left;
    padding-left: 80px;
 }