.item{
    font-size: 24px;
    background-color: #D90429;
    color: white;
}
.container{
    display: grid;
    /*grid-template-columns: repeat(3,min-content);*/
    /*grid-template-columns: repeat(3,max-content);*/
    grid-template-columns: repeat(3, minmax(80px, max-content));
    grid-template-rows: repeat(2, minmax(min-content,max-content));
   
   /*grid-gap: 24px;*/
   grid-auto-rows: 50px;
   grid-auto-columns: 300px;
   width: fit-content;
  
   /*background-color: #c5d86d;*/
   margin: 24px auto;
   /*justify-content: center;*/
   /*justify-content: end;*/
   /*justify-content: start;*/
   /*justify-content: space-evenly;
   align-content: center;*/
   
   .item--2{
    background-color:purple;
   }

   .item--3{
    background-color:green;
   }

   .item--4{
    background-color:orange;
   }

   .item--5{
    background-color:violet;
   }
   .item--6{
    background-color:coral;
   }



  /* grid-auto-flow: column;*/
  /*align-items: center;
  justify-items: center;*/
  /*position items inside the container*/
  
  /*.item--1{
    align-self: flex-start;
    justify-self: flex-end;
  }*/