nav{
    background-color: #5e5b5b;
    height: 40px;
}
nav ul{
    font-family: arial,Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
   
}
nav ul li{
    display: block;
    position: relative;
    float: left;
    
}
nav li ul{
    display: none;
   
}
nav ul li a{
    display: block;
    text-decoration: none;
    padding: 7px 15px 3px 15px;
    background-color: #5e5b5b;
    color: #ffffff;
    margin-left: 40px;
    white-space: nowrap;
    height: 30px; /*width and height of top-level nav items*/
    width: 100px;
    text-align: center;
    font-size: medium;
}
nav a:link, a:visited{
    text-decoration: none;
}
nav ul li a:hover{
    background-color: #e0e0e0;
    color:#000000;

}
nav li:hover ul{
    display: block;
    position: absolute;
    height: 30px;
}
nav li:hover li{
    float: none;
    float-size: 11px

}
nav li:hover a{
    background-color: #797979;
    height: 30px; /*height of the lower level nav items is shorter than main level*/
}
nav li:hover li a:hover{
    background-color: #e0e0e0;
}
nav ul li ul li a{
    text-align: left;
}
